DirectorySvcs_SOAP_v1/DirectorySvcs/Resources/wsdl/DirectoryService.wsdl

<wsdl:definitions name="DirectoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:i0="http://www.elliemae.com/encompass/directory" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:import namespace="http://www.elliemae.com/encompass/directory" location="WSDL_-1027063362.wsdl"/>
	<wsdl:types/>
	<wsdl:binding name="BasicHttpBinding_IDirectoryService" type="i0:IDirectoryService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="AddInstance">
			<soap:operation soapAction="http://www.elliemae.com/encompass/directory/IDirectoryService/AddInstance" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInstanceById">
			<soap:operation soapAction="http://www.elliemae.com/encompass/directory/IDirectoryService/GetInstanceById" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInstances">
			<soap:operation soapAction="http://www.elliemae.com/encompass/directory/IDirectoryService/GetInstances" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateInstance">
			<soap:operation soapAction="http://www.elliemae.com/encompass/directory/IDirectoryService/UpdateInstance" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddCategory">
			<soap:operation soapAction="http://www.elliemae.com/encompass/directory/IDirectoryService/AddCategory" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCategoryById">
			<soap:operation soapAction="http://www.elliemae.com/encompass/directory/IDirectoryService/GetCategoryById" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCategories">
			<soap:operation soapAction="http://www.elliemae.com/encompass/directory/IDirectoryService/GetCategories" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateCategory">
			<soap:operation soapAction="http://www.elliemae.com/encompass/directory/IDirectoryService/UpdateCategory" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddEntry">
			<soap:operation soapAction="http://www.elliemae.com/encompass/directory/IDirectoryService/AddEntry" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEntry">
			<soap:operation soapAction="http://www.elliemae.com/encompass/directory/IDirectoryService/GetEntry" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEntryById">
			<soap:operation soapAction="http://www.elliemae.com/encompass/directory/IDirectoryService/GetEntryById" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEntriesInInstance">
			<soap:operation soapAction="http://www.elliemae.com/encompass/directory/IDirectoryService/GetEntriesInInstance" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEntries">
			<soap:operation soapAction="http://www.elliemae.com/encompass/directory/IDirectoryService/GetEntries" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateEntry">
			<soap:operation soapAction="http://www.elliemae.com/encompass/directory/IDirectoryService/UpdateEntry" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DirectoryService">
		<wsdl:port name="BasicHttpBinding_IDirectoryService" binding="tns:BasicHttpBinding_IDirectoryService">
			<soap:address location="http://td1vwbenc001.dco.elmae/EMDirectoryServices/DirectoryService.svc"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>