Services_SOAP_v1/Shared/Resources/xsd/XMLSchema_161047060.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EllieMae.EMLite.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/EllieMae.EMLite.Common"><xs:complexType name="ArrayOfPersona"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Persona" nillable="true" type="tns:Persona"/></xs:sequence></xs:complexType><xs:element name="ArrayOfPersona" nillable="true" type="tns:ArrayOfPersona"/><xs:complexType name="Persona"><xs:sequence><xs:element name="aclFeaturesDefault" type="xs:boolean"/><xs:element name="displayOrder" type="xs:int"/><xs:element name="personaID" type="xs:int"/><xs:element name="personaName" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="Persona" nillable="true" type="tns:Persona"/></xs:schema>