eVaultSvcs_SOAP_v1/eVaultSvcs/Resources/wsdl/eVaultService.wsdl

<wsdl:definitions name="VaultService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://tempuri.org/Imports">
			<xsd:import schemaLocation="../xsd/XMLSchema_-1788428524.xsd" namespace="http://www.elliemae.com/edm/platform"/>
			<xsd:import schemaLocation="../xsd/XMLSchema_-1999779437.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetMediaClientsRequest">
		<wsdl:part name="GetMediaClientsRequest" element="q1:GetMediaClientsRequest" xmlns:q1="http://www.elliemae.com/edm/platform"/>
	</wsdl:message>
	<wsdl:message name="GetMediaClientsResponse">
		<wsdl:part name="GetMediaClientsResponse" element="q2:GetMediaClientsResponse" xmlns:q2="http://www.elliemae.com/edm/platform"/>
	</wsdl:message>
	<wsdl:message name="GetFileRequest">
		<wsdl:part name="GetFileRequest" element="q3:GetFileRequest" xmlns:q3="http://www.elliemae.com/edm/platform"/>
	</wsdl:message>
	<wsdl:message name="GetFileResponse">
		<wsdl:part name="GetFileResponse" element="q4:GetFileResponse" xmlns:q4="http://www.elliemae.com/edm/platform"/>
	</wsdl:message>
	<wsdl:message name="GetFileStreamInfoRequest">
		<wsdl:part name="GetFileStreamInfoRequest" element="q5:GetFileStreamInfoRequest" xmlns:q5="http://www.elliemae.com/edm/platform"/>
	</wsdl:message>
	<wsdl:message name="GetFileStreamInfoResponse">
		<wsdl:part name="GetFileStreamInfoResponse" element="q6:GetFileStreamInfoResponse" xmlns:q6="http://www.elliemae.com/edm/platform"/>
	</wsdl:message>
	<wsdl:message name="SaveFileRequest">
		<wsdl:part name="SaveFileRequest" element="q7:SaveFileRequest" xmlns:q7="http://www.elliemae.com/edm/platform"/>
	</wsdl:message>
	<wsdl:message name="SaveFileResponse">
		<wsdl:part name="SaveFileResponse" element="q8:SaveFileResponse" xmlns:q8="http://www.elliemae.com/edm/platform"/>
	</wsdl:message>
	<wsdl:message name="SetFileExpirationRequest">
		<wsdl:part name="SetFileExpirationRequest" element="q9:SetFileExpirationRequest" xmlns:q9="http://www.elliemae.com/edm/platform"/>
	</wsdl:message>
	<wsdl:message name="SetFileExpirationResponse">
		<wsdl:part name="SetFileExpirationResponse" element="q10:SetFileExpirationResponse" xmlns:q10="http://www.elliemae.com/edm/platform"/>
	</wsdl:message>
	<wsdl:message name="DuplicateFileRequest">
		<wsdl:part name="DuplicateFileRequest" element="q11:DuplicateFileRequest" xmlns:q11="http://www.elliemae.com/edm/platform"/>
	</wsdl:message>
	<wsdl:message name="DuplicateFileResponse">
		<wsdl:part name="DuplicateFileResponse" element="q12:DuplicateFileResponse" xmlns:q12="http://www.elliemae.com/edm/platform"/>
	</wsdl:message>
	<wsdl:portType name="IVaultService">
		<wsdl:operation name="GetMediaClients">
			<wsdl:input wsaw:Action="http://tempuri.org/IVaultService/GetMediaClients" name="GetMediaClientsRequest" message="tns:GetMediaClientsRequest"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IVaultService/GetMediaClientsResponse" name="GetMediaClientsResponse" message="tns:GetMediaClientsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetFile">
			<wsdl:input wsaw:Action="http://tempuri.org/IVaultService/GetFile" name="GetFileRequest" message="tns:GetFileRequest"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IVaultService/GetFileResponse" name="GetFileResponse" message="tns:GetFileResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetFileStreamInfo">
			<wsdl:input wsaw:Action="http://tempuri.org/IVaultService/GetFileStreamInfo" name="GetFileStreamInfoRequest" message="tns:GetFileStreamInfoRequest"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IVaultService/GetFileStreamInfoResponse" name="GetFileStreamInfoResponse" message="tns:GetFileStreamInfoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="SaveFile">
			<wsdl:input wsaw:Action="http://tempuri.org/IVaultService/SaveFile" name="SaveFileRequest" message="tns:SaveFileRequest"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IVaultService/SaveFileResponse" name="SaveFileResponse" message="tns:SaveFileResponse"/>
		</wsdl:operation>
		<wsdl:operation name="SetFileExpiration">
			<wsdl:input wsaw:Action="http://tempuri.org/IVaultService/SetFileExpiration" name="SetFileExpirationRequest" message="tns:SetFileExpirationRequest"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IVaultService/SetFileExpirationResponse" name="SetFileExpirationResponse" message="tns:SetFileExpirationResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DuplicateFile">
			<wsdl:input wsaw:Action="http://tempuri.org/IVaultService/DuplicateFile" name="DuplicateFileRequest" message="tns:DuplicateFileRequest"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IVaultService/DuplicateFileResponse" name="DuplicateFileResponse" message="tns:DuplicateFileResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_IVaultService" type="tns:IVaultService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetMediaClients">
			<soap:operation soapAction="http://tempuri.org/IVaultService/GetMediaClients" style="document"/>
			<wsdl:input name="GetMediaClientsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetMediaClientsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFile">
			<soap:operation soapAction="http://tempuri.org/IVaultService/GetFile" style="document"/>
			<wsdl:input name="GetFileRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetFileResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFileStreamInfo">
			<soap:operation soapAction="http://tempuri.org/IVaultService/GetFileStreamInfo" style="document"/>
			<wsdl:input name="GetFileStreamInfoRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetFileStreamInfoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SaveFile">
			<soap:operation soapAction="http://tempuri.org/IVaultService/SaveFile" style="document"/>
			<wsdl:input name="SaveFileRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SaveFileResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SetFileExpiration">
			<soap:operation soapAction="http://tempuri.org/IVaultService/SetFileExpiration" style="document"/>
			<wsdl:input name="SetFileExpirationRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SetFileExpirationResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DuplicateFile">
			<soap:operation soapAction="http://tempuri.org/IVaultService/DuplicateFile" style="document"/>
			<wsdl:input name="DuplicateFileRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="DuplicateFileResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="VaultService">
		<wsdl:port name="BasicHttpBinding_IVaultService" binding="tns:BasicHttpBinding_IVaultService">
			<soap:address location="http://edmplat.qa.dco.elmae/VaultService/VaultService.svc"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>