Services_SOAP_v1/Shared/Resources/wsdl/ExternalCompanySetting.wsdl

<wsdl:definitions name="ExternalCompanySetting" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:i0="http://www.elliemae.com/encompass/platform" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:import namespace="http://www.elliemae.com/encompass/platform" location="WSDL_1258354464.wsdl"/>
	<wsdl:types/>
	<wsdl:binding name="BasicHttpBinding_IExternalCompanySetting" type="i0:IExternalCompanySetting">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetTPOContacts">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IExternalCompanySetting/GetTPOContacts" style="document"/>
			<wsdl:input name="TPOContactsGetRequest">
				<soap:header message="i0:TPOContactsGetRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="TPOContactsGetResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTPOContactByUserId">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IExternalCompanySetting/GetTPOContactByUserId" style="document"/>
			<wsdl:input name="TPOContactGetByUserIdRequest">
				<soap:header message="i0:TPOContactGetByUserIdRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="TPOContactGetByUserIdResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TPOLogin">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IExternalCompanySetting/TPOLogin" style="document"/>
			<wsdl:input name="TPOLoginRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="TPOLoginResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetExternalOrganization">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IExternalCompanySetting/GetExternalOrganization" style="document"/>
			<wsdl:input name="ExternalOrganizationGetRequest">
				<soap:header message="i0:ExternalOrganizationGetRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ExternalOrganizationGetResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteTPOContact">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IExternalCompanySetting/DeleteTPOContact" style="document"/>
			<wsdl:input name="TPOContactDeleteRequest">
				<soap:header message="i0:TPOContactDeleteRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="TPOContactDeleteResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateTPOContact">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IExternalCompanySetting/CreateTPOContact" style="document"/>
			<wsdl:input name="TPOContactCreateRequest">
				<soap:header message="i0:TPOContactCreateRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="TPOContactCreateResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateTPOContact">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IExternalCompanySetting/UpdateTPOContact" style="document"/>
			<wsdl:input name="TPOContactUpdateRequest">
				<soap:header message="i0:TPOContactUpdateRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="TPOContactUpdateResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ResetUserPassword">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IExternalCompanySetting/ResetUserPassword" style="document"/>
			<wsdl:input name="ResetUserPasswordRequest">
				<soap:header message="i0:ResetUserPasswordRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ResetUserPasswordResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ExternalCompanySetting">
		<wsdl:port name="BasicHttpBinding_IExternalCompanySetting" binding="tns:BasicHttpBinding_IExternalCompanySetting">
			<soap:address location="http://ed1vwbebs0001.dco.elmae/EncompassPlatform/ExternalCompanySetting.svc"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>